.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 190px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.secondary {
    align-items: flex-end;
    gap: 40px;
}

.mobile {
    display: none;
}

@media (max-width: 875px) {

    .footer .menu, .secondary img, .pc{
        display: none;
    }

    .mobile {
        display: flex;
    }

    .footer {
        min-height: 60px;
    }

}