.contact-banner {
    position: relative;
    width: 100%;
}

.contact-banner-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contato {
    display: flex;
}

.formulario {
    flex-grow: 2;
    max-width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px 50px 35px 0;
    margin-left: 5%;
}

.linha-primeira {
    display: flex;
    justify-content: space-between;
}

.title-form {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FF8E6E;
}

.linha {
    display: flex;
    justify-content: space-between;
}

.input {
    display: flex;
    flex-direction: column;
    max-width: 48%;
    flex-grow: 1;
    border-bottom: 1px solid #D7D7D7;
}

.title-input {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #898989;
}

.msg-form {
    max-width: 100%;
}

textarea, input, select{
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 0;
    margin: 20px 0 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #898989;
    margin-left: 10px;
    margin-right: 20px;
}

textarea::placeholder, input::placeholder, option, select{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #A9A9A9;
}

textarea {
    resize: none;
    margin-left: 0;
    margin-right: 0;
}

.assunto-txt {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #898989;
    margin-left: 10px;
    margin-right: 20px;
}

.info {
    flex-grow: 1;
    background: linear-gradient(105.92deg, #515070 -8.44%, #6B69B0 94.86%);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.11); 
    max-width: 34%;
    margin-right: 5%;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 40px 50px 129px;
    width: 100%;
}

.title-info {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 55px;
}

.info-content {
    display: flex;
    align-items: center;
}

.info-txt {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-right: 50px;
}

.linha-ultima {
    display: flex;
    justify-content: space-between;
}

input[type=checkbox]{
    margin: 0;
}

.politica span{
    margin-left: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #898989;
}

.politica a {
    color: #898989;
}

.politica {
    display: flex;
    align-items: center;
}

@media (max-width: 875px) {
    .contato {
        flex-direction: column;
    }

    .formulario, .info {
        max-width: 100%;
        padding: 40px 0 60px;
    }

    .title-form {
        font-size: 17px;
    }

    .title-input {
        margin-top: 35px;
    }

    .linha, .linha-ultima {
        flex-direction: column;
    }

    .linha-ultima {
        align-items: center;
        margin-top: 60px;
    }

    .input {
        max-width: 100%;
    }

    .reverse {
        order: -1;
    }

    .assunto-txt {
        margin: 0;
    }

    .politica {
        margin-bottom: 25px;
    }

    .info {
        width: 100vh;
        
    }
}